body {
    margin: 0px;
    overflow-x: hidden;
}

.header {
    z-index: 5;
    width: 100%;
    display: flex;
    position: fixed;
    margin: 0px 0px 0px 0px;
    background-color: #ffffff;
}

.logo {
    height: 29px;
    font-size: 18px;
    margin: 0px 0px 0px 0px;
    padding: 35px 40px 35px 50px;
    background-color: #ffffff;
    border-right: 2px solid #cecdcd;
}

.emptydiv {
    height: 50px;
    width: 10px;
}

.menulist ul {
    height: 60px;
    display: flex;
    list-style: none;
    text-align: center;
    background-color: #ffffff;
}

ul li {
    font-size: 16.96px;
    padding: 25px 0px 19.2px 50px;
    font-family: "Montserrat", sans-serif;
}

li a {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
}

li a:hover {
    color: #ff6600;
}

.home {
    color: #ff6600;
}

.dash {
    margin: 0px 0px 0px 16px;
}

.dashlast {
    margin: 0px 50px 0px 16px;
}

.ticket {
    width: 180px;
    display: flex;
    padding: 34px 32px;
    margin: 0px 0px 0px 20px;
    background-color: #ff6600;
}

.ticket img {
    padding: 0px 16px 0px 0px;
}

.buy {
    font-weight: 400;
    color: #ffffff;
    padding: 5px 0px 2px 16px;
    border-left: 0.5px solid #ffffff;
    font-family: "Montserrat", sans-serif;
}

/*----------------------- END OF MENU BAR SECTION --------------------------------*/
.shortimg {
    z-index: 1;
    height: 150px;
    width: 100%;
    position: relative;
    padding: 200px 0px 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../EventreProject_Images/page-title-bg.jpg");
}

.shortimg h1 {
    color: #fff;
    font-size: 2.25rem;
    font-weight: 500;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
}

.shortimg p {
    color: #fff;
    font-size: 1rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.shortimglayer {
    z-index: 2;
    height: 150px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 200px 0px 0px 0px;
    background-color: rgba(41, 27, 63, 0.6);
}

/*----------------------- END OF SHORTINFO SECTION --------------------------------*/
.timetableofemployee {
    padding: 60px 0px 0px 0px;
    margin: 50px 0px 80px 0px;
}

.childone h1 {
    color: #222222;
    font-size: 2.25rem;
    line-height: 1.2;
    text-align: center;
    padding: 20px 0px 0px 0px;
    margin: 0px 0px 20px 0px;
    font-family: "Montserrat", sans-serif;
}

.childone span {
    color: #ff6600;
    font-style: italic;
    font-weight: 400;
}

.childone p {
    color: #848484;
    font-size: 1rem;
    line-height: 26px;
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-family: "Montserrat", sans-serif;
}

.childtwo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 0px 0px 0px;
    margin: 30px 0px 0px 0px;
}

.dayquote {
    margin: 10px 8px 10px 8px;
    border: 1px solid #e5e5e5;
    font-family: "Montserrat", sans-serif;
}

.dayquote h1 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    background-color: #ff6600;
    padding: 20px 30px 5px 30px;
    margin: 0px 0px 0px 0px;
}

.dayquote p {
    color: #848484;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    background-color: #ffffff;
    padding: 10px 30px 10px 30px;
    margin: 0px 0px 0px 0px;
}

.childthree {
    display: flex;
    justify-content: center;
}

.bgtable {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../EventreProject_Images/schedule-bg.png");
}

.childthreeone {
    width: 1000px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    background-color: #ff6600;
    border: 1px solid red;
    padding: 0px 0px 0px 0px;
    margin: 40px 0px 0px 0px;
}

.childthreeone h4 {
    font-size: 1rem;
    line-height: 26px;
    font-weight: 400;
    padding: 10px 30px 10px 30px;
    margin: 0px 0px 0px 0px;
    font-family: "Montserrat", sans-serif;
}

.shedule {
    text-align: center;
    width: 1500px;
    display: flex;
    flex-direction: row;
    padding: 0px 0px 0px 0px;
    margin: 10px 0px 0px 251px;
}

.time_9 {
    display: flex;
    width: 150px;
    text-align: left;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 80px;
}

.clock {
    text-align: left;
    padding: 24px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.time_9 p {
    font-size: 0.9rem;
    line-height: 26px;
    padding: 20px 0px 0px 5px;
    margin: 0px 0px 0px 0px;
    font-family: "Montserrat", sans-serif;
}

.img_professor {
    width: 220px;
    display: flex;
    text-align: left;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 80px;
}

.speaker {
    border-radius: 50%;
    border: 3px solid #848484;
}

.professor {
    font-size: 1rem;
    line-height: 26px;
    font-family: "Montserrat", sans-serif;
    padding: 10px 0px 0px 5px;
}

.intro {
    width: 220px;
    padding: 20px 0px 0px 0px;
    margin: 0px 0px 0px 55px;
}

.intropara {
    width: 220px;
    font-size: 1rem;
    line-height: 26px;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.avenue {
    width: 220px;
    padding: 20px 0px 0px 0px;
    margin: 0px 0px 0px 45px;
}

.avenuepara {
    width: 220px;
    font-size: 1rem;
    line-height: 26px;
    text-align: left;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-family: "Montserrat", sans-serif;
}

/*----------------------- END OF TIMETABLE SECTION --------------------------------*/
.shortpara {
    height: 250px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../EventreProject_Images/newsletter-bg.jpg");
}

.emtydiv {
    top: 0px;
    width: 100%;
    height: 250px;
    opacity: 0.6;
    position: absolute;
    background-color: #000000;
}

.firstinfo {
    z-index: 2;
    display: flex;
    position: absolute;
    word-spacing: 1px;
    margin: px 0px 0px 0px;
    padding: 60px 0px 0px 100px;
}

.firstinfo h1 {
    color: #fff;
    font-weight: 500;
    font-size: 2.25rem;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 10px 0px;
    font-family: "Montserrat", sans-serif;
}

.firstinfo span {
    color: #ff6600;
    font-style: italic;
    font-weight: 400;
}

.firstinfo p {
    color: #fff;
    line-height: 26px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    word-spacing: 0.5px;
    font-family: "Roboto", sans-serif;
}

.veeru {
    margin: 10px 0px 0px 50px;
    padding: 15px 0px 15px 40px;
}

.veeruinput {
    padding: 13px 220px 13px 20px;
}

::placeholder {
    color: #848484;
    font-size: 14px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-family: "Montserrat", sans-serif;
}

.jeeru {
    margin: 10px 0px 0px 20px;
    padding: 15px 0px 15px 20px;
}

.jeerubtn {
    color: #fff;
    border: none;
    font-size: 0..9375rem;
    background-color: #ff6600;
    text-transform: uppercase;
    margin: 0px 0px 0px 0px;
    padding: 18px 52px 18px 52px;
    font-family: "Montserrat", sans-serif;
}

/*----------------------- END OF SHORT DIVISION SECTION --------------------------------*/
.last {
    position: relative;
}

.map {
    margin: 4px 0px 0px 0px;
    height: 450px;
    width: 1520px;
}

.address {
    color: #fff;
    height: 220px;
    width: fit-content;
    position: absolute;
    top: 80px;
    left: 230px;
    padding: 45px 40px 45px 40px;
    margin: 0px 0px 0px 0px;
    background-color: #ff6600;
}

.address h1 {
    color: #fff;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    padding: 10px 20px 10px 20px;
    margin: 0px 0px 0px 26px;
    font-family: "Montserrat", sans-serif;
}

.address li {
    list-style: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.shortadd {
    color: #fff !important;
    font-size: 16px;
}

.addandnum {
    color: #fff;
}

.direction {
    padding: 20px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.get {
    border: none;
    color: #222222;
    font-weight: 400;
    background-color: #fff;
    padding: 15px 40px 15px 40px;
    margin: 0px 0px 0px 30px;
    font-family: "Montserrat", sans-serif;
    transition: all 0.5s ease;
}

.get:hover {
    color: #fff;
    background-color: #ff6600;
}

/*----------------------- END OF MAP SECTION --------------------------------*/
.footer {
    background-color: #272735;
    height: 300px;
}

.footerhead {
    display: flex;
    justify-content: center;
}

.footerimg {
    padding: 60px 0px 30px 0px;
}

.listoficon ul {
    display: flex;
    justify-content: center;
}

.listoficon li {
    list-style: none;
}

.fivemember {
    border: none;
    font-size: 20px;
    color: #6d6c6c;
    background-color: #fff;
    transition: all 0.2s ease;
    padding: 14px 14px 14px 14px;
}

.fivemember:hover {
    color: #fff;
    background-color: #ff6600;
}

.copyright {
    height: 80px;
    width: 100%;
    background: #2a2a37;
    position: relative;
}

.copyrighthead h1 {
    font-size: 1rem;
    color: #848484;
    line-height: 26px;
    font-weight: 400;
    padding: 30px 0px 30px 120px;
    margin: 0px 0px 0px 0px;
    font-family: "Montserrat", sans-serif;
}

.copyright span {
    color: #ff6600;
}

.uparrow {
    color: #fff;
    font-size: 24px;
    background-color: #ff6600;
    padding: 12px 12px 12px 12px;
    position: absolute;
    top: 20px;
    right: 100px;
}

/*----------------------- END OF FOOTER SECTION --------------------------------*/
/*-------------------------------------------------- END OF CSS SECTION HERE -------------------------------------------------------*/

/*-------------------------------------------------- START A MEDIA QUERY SECTION ---------------------------------------------------*/
@media screen and (min-width: 320px) and (max-width: 480px) {
    body {
        overflow-x: hidden;
        margin: 0px;
    }

    .header {
        width: 100%;
        display: flex;
        position: absolute;
        height: fit-content;
        flex-direction: column;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .logo {
        height: 24px;
        width: 120px;
        border: none;
        margin: 10px 0px 0px 100px;
        padding: 0px 0px 10px 0px;
    }

    .emptydiv {
        height: 0px;
        width: 0px;
    }

    .menulist ul {
        display: flex;
        align-items: left;
        flex-direction: column;
    }

    .menulist li {
        font-size: 14px;
        text-align: left;
        margin: 0px 0px 0px 100px;
        padding: 0px 0px 15px 0px;
    }

    .dash {
        display: none;
    }

    .dashlast {
        display: none;
    }

    .ticket {
        width: 100%;
        display: flex;
        background-color: #ff6600;
        padding: 5px 0px 5px 0px;
        margin: 155px 0px 0px 0px;
    }

    .ticket img {
        padding: 0px 14px 0px 80px;
    }

    /*----------------------- END OF MENU BAR SECTION --------------------------------*/
    .shortimg {
        z-index: 1;
        height: 150px;
        width: 100%;
        position: relative;
        padding: 400px 0px 0px 0px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../EventreProject_Images/page-title-bg.jpg");
    }

    .shortimg h1 {
        color: #fff;
        font-size: 2.25rem;
        font-weight: 500;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        padding: 0px 0px 10px 0px;
        margin: 0px 0px 0px 0px;
    }

    .shortimg p {
        color: #fff;
        font-size: 1rem;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }

    .shortimglayer {
        z-index: 2;
        height: 150px;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 400px 0px 0px 0px;
        background-color: rgba(41, 27, 63, 0.6);
    }

    /*----------------------- END OF SHORTINFO SECTION --------------------------------*/
    .timetableofemployee {
        padding: 60px 0px 0px 0px;
        margin: 0px 0px 50px 0px;
    }

    .childone h1 {
        color: #222222;
        font-size: 2.25rem;
        line-height: 1.2;
        text-align: center;
        padding: 20px 0px 0px 0px;
        margin: 0px 0px 20px 0px;
        font-family: "Montserrat", sans-serif;
    }

    .childone span {
        color: #ff6600;
        font-style: italic;
        font-weight: 400;
    }

    .childone p {
        color: #848484;
        font-size: 1rem;
        line-height: 26px;
        text-align: center;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
        font-family: "Montserrat", sans-serif;
    }

    .childtwo {
        display: flex;
        width: 280px;
        flex-direction: column;
        justify-content: center;
        padding: 0px 0px 0px 0px;
        margin: 30px 0px 0px 22px;
    }

    .dayquote {
        margin: 10px 8px 10px 8px;
        border: 1px solid #e5e5e5;
        font-family: "Montserrat", sans-serif;
    }

    .dayquote h1 {
        color: #fff;
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
        background-color: #ff6600;
        padding: 10px 10px 5px 10px;
        margin: 0px 0px 0px 0px;
    }

    .dayquote p {
        color: #848484;
        font-size: 0.9rem;
        font-weight: 500;
        text-align: center;
        background-color: #ffffff;
        padding: 10px 10px 10px 10px;
        margin: 0px 0px 0px 0px;
    }

    .bgtable {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../EventreProject_Images/schedule-bg.png");
    }

    .subdemo {
        display: none;
    }

    .vendemo {
        display: none;
    }

    .childthree {
        width: 260px;
        display: flex;
        line-height: 22px;
        justify-content: center;
        padding: 0px 0px 0px 0px;
        margin: 10px 0px 0px 30px;
    }

    .childthreeone {
        width: 100%;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #ff6600;
        border: 1px solid red;
        padding: 0px 0px 0px 0px;
        margin: 40px 0px 0px 0px;
    }

    .childthreeone h4 {
        font-size: 0.9rem;
        line-height: 26px;
        font-weight: 400;
        padding: 10px 0px 10px 60px;
        margin: 0px 0px 0px 0px;
        font-family: "Montserrat", sans-serif;
    }

    .shedule {
        width: 100%;
        display: flex;
        text-align: center;
        flex-direction: column;
        padding: 0px 0px 0px 0px;
        margin: 10px 0px 0px 0px;
    }

    .time_9 {
        display: flex;
        width: 80px;
        text-align: left;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 80px;
    }

    .clock {
        font-size: 24px;
        text-align: left;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }

    .time_9 p {
        font-size: 0.9rem;
        line-height: 26px;
        padding: 0px 0px 0px 5px;
        margin: 0px 0px 0px 0px;
        font-family: "Montserrat", sans-serif;
    }

    .img_professor {
        width: 100%;
        display: flex;
        text-align: left;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }

    .speaker {
        display: none;
        border-radius: 50%;
        border: 3px solid #848484;
    }

    .professor {
        width: 80px;
        font-size: 1rem;
        line-height: 26px;
        font-family: "Montserrat", sans-serif;
        padding: 0px 0px 0px 5px;
        margin: 0px 0px 0px 100px;
    }

    .intropara {
        display: none;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }

    .avenue {
        display: none;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }

    .avenuepara {
        display: none;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }

    /*----------------------- END OF SCHEDULE SECTION --------------------------------*/
    .shortpara {
        height: 450px;
        width: 100%;
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../EventreProject_Images/newsletter-bg.jpg");
    }

    .emtydiv {
        top: 0px;
        width: 100%;
        height: 450px;
        opacity: 0.6;
        position: absolute;
        background-color: #000000;
    }

    .firstinfo {
        z-index: 2;
        display: flex;
        position: absolute;
        word-spacing: 1px;
        margin: px 0px 0px 0px;
        flex-direction: column;
        padding: 60px 0px 0px 100px;
    }

    .firstinfo h1 {
        width: 270px;
        color: #fff;
        font-weight: 500;
        font-size: 2.25rem;
        line-height: 41px;
        word-spacing: 0.5px;
        margin: 0px 0px 0px -80px;
        padding: 0px 0px 10px 0px;
        font-family: "Montserrat", sans-serif;
    }

    .firstinfo span {
        color: #ff6600;
        font-style: italic;
        font-weight: 400;
    }

    .firstinfo p {
        width: 290px;
        color: #fff;
        font-size: 15px;
        line-height: 26px;
        margin: 0px 0px 0px -80px;
        padding: 0px 0px 0px 0px;
        word-spacing: 0.5px;
        font-family: "Roboto", sans-serif;
    }

    .veeru {
        margin: 60px 0px 0px -120px;
        padding: 15px 0px 15px 40px;
    }

    .veeruinput {
        padding: 12px 100px 12px 20px;
    }

    ::placeholder {
        color: #848484;
        font-size: 14px;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
        font-family: "Montserrat", sans-serif;
    }

    .jeeru {
        margin: -10px 0px 0px -100px;
        padding: 15px 0px 15px 20px;
    }

    .jeerubtn {
        color: #fff;
        border: none;
        font-size: 0..9375rem;
        background-color: #ff6600;
        text-transform: uppercase;
        margin: 0px 0px 0px 0px;
        padding: 16px 46px 16px 46px;
        font-family: "Montserrat", sans-serif;
    }

    /*----------------------- END OF SEARCH SECTION --------------------------------*/
    .last {
        position: relative;
    }

    .map {
        margin: 4px 0px 0px 0px;
        height: 450px;
        width: 100%;
    }

    .address {
        display: none;
    }

    /*----------------------- END OF MAP SECTION --------------------------------*/
    .footer {
        height: 250px;
        background-color: #272735;
    }

    .footerhead {
        display: flex;
        justify-content: center;
    }

    .footerimg {
        padding: 20px 0px 20px 0px;
    }

    .listoficon ul {
        display: flex;
        justify-content: center;
        margin: 0px 0px 0px 5px;
        padding: 50px 0px 0px 0px;
    }

    .listoficon li {
        list-style: none;
        padding: 5px 5px 5px 5px;
        margin: 0px 0px 0px 0px;
    }

    .fivemember {
        border: none;
        font-size: 22px;
        color: #6d6c6c;
        background-color: #fff;
        transition: all 0.2s ease;
        padding: 12px 12px 12px 12px;
    }

    .fivemember:hover {
        color: #fff;
        background-color: #ff6600;
    }

    /*----------------------- END OF FIRST FOOTER SECTION --------------------------------*/
    .copyright {
        height: 180px;
        width: 100%;
        background: #2a2a37;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .copyrighthead h1 {
        width: 250px;
        font-size: 1rem;
        color: #848484;
        line-height: 26px;
        font-weight: 400;
        text-align: left;
        word-spacing: 0.5px;
        letter-spacing: 0.5px;
        padding: 30px 0px 30px 60px;
        margin: 0px 0px 0px 0px;
        font-family: "Montserrat", sans-serif;
    }

    .copyright span {
        color: #ff6600;
    }

    .uparrow {
        color: #fff;
        font-size: 22px;
        background-color: #ff6600;
        padding: 12px 12px 12px 12px;
        position: absolute;
        top: 120px;
        right: 140px;
    }

    /*----------------------- END OF FOOTER SECTION --------------------------------*/
}